<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали пользователя</title>
</head>
<body>
<h1>Детали пользователя</h1>

<div>
    <p><strong>Имя:</strong> <span th:text="${user.name}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Телефон:</strong> <span th:text="${user.phoneNumber}"></span></p>
    <p><strong>Пароль:</strong> <span th:text="${user.password}"></span></p>
</div>

<a th:href="@{/users}">Вернуться к списку пользователей</a>
</body>
</html>
