<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование продукта</title>
</head>
<body>
<h1 class="h1">Редактировать продукт</h1>

<form th:action="@{'/products/' + ${product.id} + '/edit'}" method="post" th:object="${updateProductDTO}">

    <label class="form__label__Name">Название:</label>
    <input class="form__input__Name" type="text" th:field="*{name}">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div><br>

    <label class="form__label__Category">Категория:</label>
    <input class="form__input_Category" type="text" th:field="*{category}">
    <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" style="color:red"></div><br>

    <label class="form__label_Brand">Бренд:</label>
    <input class="form__input__Brand" type="text" th:field="*{brand}">
    <div th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" style="color:red"></div><br>

    <label class="form__label__Price">Цена:</label>
    <input class="form__input__Price" type="number" step="0.01" th:field="*{price}">
    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color:red"></div><br>

    <button class="button__submit" type="submit">Сохранить изменения</button>
</form>

<a class="a__Back" href="/products">Назад к списку</a>
</body>
</html>
