<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>
</head>
<body>
<h1>Список продуктов</h1>

<div th:if="${name != null and !#strings.isEmpty(name)}">
    <p>Фильтр: <span th:text="${name}"></span></p>
</div>

<form method="get" th:action="@{/products/search}">
    <label>Фильтр:
        <input type="text" name="name" th:value="${name}" />
        <input type="hidden" name="token" th:value="${token}" />
        <button type="submit">Поиск</button>
    </label>
</form>

<table border="1">
    <thead>
    <tr>
        <th>Название</th>
        <th>Категория</th>
        <th>Бренд</th>
        <th>Цена</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.brand}"></td>
        <td th:text="${product.price} + ' руб.'"></td>
        <td>
            <a th:href="@{/products/{id}(id=${product.id}) + '?token=' + ${token}}">Детали</a>
            <a th:href="@{/products/{id}/edit(id=${product.id}) + '?token=' + ${token}}">Редактировать</a>
            <form method="post"
                  th:action="@{/products/{id}/delete(id=${product.id}) + '?token=' + ${token}}"
                  style="display:inline;">
                <button type="submit"
                        onclick="return confirm('Вы уверены, что хотите удалить этот продукт?')">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/products/new(token=${token})}">Создать новый продукт</a>
<a th:href="@{http://localhost:8083/users}">Перейти к пользователям</a>
</body>
</html>
