<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Продукт</title>
</head>
<body>
<h1>Информация о продукте</h1>
<div th:if="${product != null}">
    <p><strong>Имя:</strong> <span th:text="${product.name}"></span></p>
    <p><strong>Категория:</strong> <span th:text="${product.category}"></span></p>
    <p><strong>Бренд:</strong> <span th:text="${product.brand}"></span></p>
    <p><strong>Цена:</strong> <span th:text="${product.price}"></span></p>
</div>
<div th:if="${error != null}">
    <p th:text="${error}" style="color:red;"></p>
</div>
<a href="/products">Назад к списку</a>
</body>
</html>
