<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали продукта</title>
</head>
<body>
<h1>Детали продукта</h1>

<div>
    <h2 th:text="${product.name}"></h2>
    <p>Категория: <span th:text="${product.category}"></span></p>
    <p>Бренд: <span th:text="${product.brand}"></span></p>
    <p>Цена: <span th:text="${product.price}"></span> руб.</p>
</div>

<!-- Форма для удаления с методом POST, но с hidden методом DELETE -->
<form th:action="@{/products/{productId}/delete(productId=${product.id})}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить этот продукт?')">
    <input type="hidden" name="_method" value="DELETE"/>
    <button type="submit">Удалить</button>
</form>

<!-- Кнопка для редактирования -->
<a th:href="@{/products/{productId}/edit(productId=${product.id})}">Редактировать</a>

<br>
<!-- Кнопка для возврата к списку продуктов -->
<a href="/products">Вернуться к списку продуктов</a>

</body>
</html>
