<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Детали продукта</title>
</head>
<body>
<h1>Детали продукта</h1>

<div>
    <h2 th:text="${product.name}"></h2>
    <p>Имя: <span th:text="${product.name}"></span></p>
    <p>Категория: <span th:text="${product.category}"></span></p>
    <p>Бренд: <span th:text="${product.brand}"></span></p>
    <p>Описание: <span th:text="${product.descriptions}"></span></p>
    <p>Цена: <span th:text="${product.price}"></span> руб.</p>
</div>

<form method="post"
      th:action="@{/products/{id}/delete(id=${product.id}, token=${token})}"
      onsubmit="return confirm('Вы уверены, что хотите удалить этот продукт?')">
    <input type="hidden" name="_method" value="DELETE"/>
    <button type="submit">Удалить</button>
</form>

<a th:href="@{/products/{id}/edit(id=${product.id}, token=${token})}">Редактировать</a>

<br>
<a th:href="@{/products(token=${token})}">Вернуться к списку продуктов</a>

</body>
</html>
